In [1]:
import pandas as pd

In [9]:
subway_data = pd.read_csv('D:\\Predict_Project Data\\부산교통공사_시간대별 승하차인원_20250430.csv', encoding='cp949')
subway_data

,역번호,역명,년월일,요일,구분,합계,01시-02시,02시-03시,03시-04시,04시-05시,...,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시-01시
0,95,다대포해수욕장,2025-01-01,수,승차,8126,0,1,0,14,...,527,498,517,266,170,98,79,38,10,0
1,95,다대포해수욕장,2025-01-01,수,하차,7674,0,1,0,0,...,376,357,295,185,132,81,74,50,71,46
2,95,다대포해수욕장,2025-01-02,목,승차,4893,1,0,0,21,...,472,364,373,210,159,87,90,57,13,0
3,95,다대포해수욕장,2025-01-02,목,하차,3965,1,4,0,1,...,311,339,296,321,239,143,99,92,82,49
4,95,다대포해수욕장,2025-01-03,금,승차,4572,0,0,0,27,...,401,300,363,237,139,102,70,69,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26875,414,안평,2025-04-28,월,하차,2189,0,0,0,0,...,120,167,186,183,138,95,67,66,30,13
26876,414,안평,2025-04-29,화,승차,2381,0,0,0,8,...,159,183,177,173,94,54,17,10,6,0
26877,414,안평,2025-04-29,화,하차,2279,0,0,0,0,...,147,162,189,201,132,76,72,55,35,19
26878,414,안평,2025-04-30,수,승차,2240,0,0,0,8,...,127,186,182,155,66,56,24,16,2,0
26879,414,안평,2025-04-30,수,하차,2152,0,0,0,0,...,139,170,192,217,125,87,67,62,41,37

In [10]:
subway_data.sort_values(by=['년월일'], inplace=True)

In [11]:
subway_data

,역번호,역명,년월일,요일,구분,합계,01시-02시,02시-03시,03시-04시,04시-05시,...,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,24시-01시
0,95,다대포해수욕장,2025-01-01,수,승차,8126,0,1,0,14,...,527,498,517,266,170,98,79,38,10,0
3907,224,냉정,2025-01-01,수,하차,2364,0,0,0,0,...,159,198,162,171,124,139,140,179,140,26
3968,225,주례,2025-01-01,수,승차,3214,0,0,0,1,...,217,218,202,157,110,82,45,36,23,8
3969,225,주례,2025-01-01,수,하차,2946,0,0,0,0,...,242,248,228,192,168,139,147,107,69,20
4030,226,감전,2025-01-01,수,승차,1528,0,0,0,3,...,98,115,89,75,54,46,37,13,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24358,230,모라,2025-04-30,수,승차,5660,0,0,0,5,...,299,325,595,640,238,142,89,56,26,2
21299,113,부산역,2025-04-30,수,하차,24805,0,0,0,0,...,1485,1609,1778,2063,1412,966,707,396,239,29
21899,123,연산,2025-04-30,수,하차,21836,0,0,3,0,...,1349,1680,1869,2630,1277,789,726,594,366,56
24538,233,덕천,2025-04-30,수,승차,5786,0,0,0,0,...,469,478,539,423,224,203,180,122,59,3
26879,414,안평,2025-04-30,수,하차,2152,0,0,0,0,...,139,170,192,217,125,87,67,62,41,37

In [15]:
address_data = pd.read_csv('D:\\Predict_Project Data\\국가철도공단_부산_지하철_주소데이터_20241021 (1).csv', encoding='cp949')
address_data

,철도운영기관명,선명,역명,지번주소,도로명주소
0,부산교통공사,1호선,괴정,부산광역시 사하구 괴정동 934-3,부산광역시 사하구 낙동대로 지하 221(괴정동)
1,부산교통공사,1호선,교대,부산광역시 연제구 거제동 72-25,부산광역시 연제구 중앙대로 지하 1217
2,부산교통공사,1호선,구서,부산광역시 금정구 구서동 475,부산광역시 금정구 금정로 233번길 46(구서동)
3,부산교통공사,1호선,남산(부산외국대학교),부산광역시 금정구 남산동 136-1,부산광역시 금정구 중앙대로 2019-1
4,부산교통공사,1호선,남포,부산광역시 중구 남포동1가 11,부산광역시 중구 구덕로 지하 12
...,...,...,...,...,...
109,부산교통공사,4호선,수안,부산광역시 동래구 수안동 204-2,부산광역시 동래구 충렬대로 지하 223
110,부산교통공사,4호선,안평(고촌주택단지),부산광역시 기장군 철마면 안평리 543-23,부산광역시 기장군 철마면 반송로 1001
111,부산교통공사,4호선,영산대(아랫반송),부산광역시 해운대구 반송동 698-12,부산광역시 해운대구 반송로 803
112,부산교통공사,4호선,윗반송,부산광역시 해운대구 반송동 385-56,부산광역시 해운대구 반송로 917
113,부산교통공사,4호선,충렬사(안락),부산광역시 동래구 안락동 473,부산광역시 동래구 반송로 지하 205